.edit-product {
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 10px 10px rgba(2, 97, 31, 0.25);
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* max-width: 450px; */
}

.edit-product-text-fields {
  font-size: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-product-fields-group {
  display: flex;
  flex-direction: column;
}

.displayImageOuterBox {
  max-width: 95%;
  /*height: 60%;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.productInfoButton {
  padding: 10px;
  margin: auto;
  color: darkgreen;
  background-color: #f1fb87;
  padding-right: 10px;
  background-color: #f1fb87;
  box-shadow: 0 1px 10px 0;
  font-size: 20px !important;
  height: 60px;
  margin: 20px 5px 20px 5px;
  justify-self: center;
}

.product-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-edit-buttons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.displayImageInnerBox {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.product-image {
  flex: 1;
  max-height: 20vh;
  left: 15vw;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  max-width: 100%;
  min-height: 30vw;
}

.saleIconImg {
  flex: 1;
  /* height: 40%; */
  position: absolute;
  /* left: 0%; */
}

.product-title {
  font-size: 4vw;
  text-align: center;
  padding: 20px;
}

.editProductButton {
  flex-direction: column;
  justify-content: center;
  display: flex;
  border-width: 0px;
}
.outer-group {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.quantity-group {
  display: flex;
  flex-direction: row;
}

.quantityBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
  font-size: 15px;
  width: 36px;
  height: 36px;
}
.quantityButton {
  cursor: pointer;
}
.quantity-display {
}

.addToCartButton {
  margin-left: 5px;
  line-height: 16px;
  font-size: 18px;
  /* font-weight: bold; */
}
