.product-image img {
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-title {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
