.product-image img {
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.saleIconImg {
  width: 20%;
  position: absolute;
  left: 20%;
}

.product-title {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.editProductButton {
  flex-direction: column;
  justify-content: center;
  display: flex;
  border-width: 0px;
}
.outer-group {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.quantity-group {
  display: flex;
  flex-direction: row;
}

.quantityBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
  font-size: 15px;
  width: 36px;
  height: 36px;
}
.quantityButton {
  cursor: pointer;
}
.quantity-display {
}

.addToCartButton {
  margin-left: 5px;
  line-height: 16px;
  font-size: 18px;
  /* font-weight: bold; */
}
