
.shoppingList {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(226 250 200);
  margin-top: 7vh; /*move list down so that the cart icon won't cover it */
}

@media (max-width: 600px) {
  .shoppingList {
    width: 80vw;
    margin-bottom: 25px;
  }
}
.shoppingListTitle {
  padding-bottom: 10px;
}

.TotalRow{
  padding-bottom: 20px;;
}

.PaymentLink{
  padding: 10px;
  margin: auto;
  color: darkgreen;
  padding-right: 10px;
  background-color: #f1fb87;
  box-shadow: 0 1px 10px 0;
}