
button {
  /* padding: 2px 5px 2px 5px;
  height: 29px; */
  font-size: 100% !important;
  margin: 10px 0px 0px 0px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

.logout-div{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;}