/* Container holding cart image and num items in cart text */

.cartWindow {
  /* position: relative;
  text-align: right; */
}
.cartContainer {
  /* position: absolute; */
  border-radius: 14px;
  background-color: #f1fb87;
  right: 55%;
}

.numCartItemsDisplay {
  position: absolute;
  /* bottom: 40px; */
  color: white;
  background: darkgreen;
  border-radius: 50%;
  left: -15px;
  top: -12px;
  font-size: 13px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  overflow: hidden;
}

.cartIcon {
  max-width: 80px;
  border-radius: 16px;
  background-color: #f1fb87;
  padding-right: 10px;
}

.deleteIcon {
  height: 18px;
  cursor: pointer;
  padding-left: 10px;
}

/* Skew Forward */
.hvr-skew-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 1px 10px 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-forward:hover,
.hvr-skew-forward:focus,
.hvr-skew-forward:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
