.button {
    transition: all 0.5s;
    cursor: pointer;
    background: rgb(185, 249, 115);
    color: darkgreen;
    font-size: 100%;
    padding: 10px;
    color: darkgreen;
    box-shadow: 0 1px 10px 0;
    height: 44px;
  }

.button:hover span {
    padding-right: 25px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }