.add-product {
  margin: auto;
  padding: 10px;
  box-shadow: 0px 0px 10px 10px rgba(2, 97, 31, 0.25);
  justify-content: center;
  display: flex;
  max-width: 450px;
}

.add-product-title {
font-size: larger;
margin: 20px;
text-align: center;
}

.thumbImg {
  max-width: 190px;
}

#addNewProductButton {
  margin-top: 5px;
}

.input-div{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center
}

.input-div-col {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-display-div{
  display: flex;
  width: 170px;
  margin: 0px 15px 0px 15px;
}

.input-title {
  width: 190px;
}

.add-product-button-div {
  justify-content: center;
  display: flex;
}