/*------------------------------------*\
    RESET
\*------------------------------------*/
/* https://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
    :focus{
      outline:?????;
    } */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
      $MAIN
    \*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

/* Typography */

h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 10px;
  padding-top: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;

  padding: 2%;
  flex: 1 25%; /* changed from 16% to make 3 columns instead of 5 */
  justify-content: space-between; /*to push the title to the top and the price to the bottom, irrespective of the picture size*/

  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.product-image img {
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.product-title {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.product-info {
  /*margin-top: auto;*/ /*removed this as is adds different amounts of space above the product titles */
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .products .product-card:first-child,
  .products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}
