
li{
  font-size: large;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
    :focus{
      outline:?????;
    } */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.frameDiv{
display: flex;
flex-direction: row;
}

/*------------------------------------*\
      $MAIN
    \*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  /* font-family: "Roboto", sans-serif; */
  background-color: #f6f6f6;
}

/* Typography */

h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
  padding-bottom: 20px;
}

h2 {
  padding-bottom: 10px;
  padding-top: 20px;
}

h5 {
  padding-top: 10px;
}

h6 {
  height: 45px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.product-card {
  display: flex;
  flex-direction: column;

  padding: 2%;
  flex: 1 25%; /* changed from 16% to make 3 columns instead of 5 */
  justify-content: space-between; /*to push the title to the top and the price to the bottom, irrespective of the picture size*/
  margin: 30px;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 10px 10px rgba(2, 97, 31, 0.25);
}

.hvr-shutter-out-vertical {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  justify-content: center;
}

.hvr-shutter-out-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #9cfd42;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-out-vertical:hover,
.hvr-shutter-out-vertical:focus,
.hvr-shutter-out-vertical:active {
  color: white;
}
.hvr-shutter-out-vertical:hover:before,
.hvr-shutter-out-vertical:focus:before,
.hvr-shutter-out-vertical:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.product-display-image {
  /* display: flex;
  width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0 auto; */
    object-fit: cover;
    flex: 1;
  /* max-height: 50vh; */
  width: 70%;
  left: 15vw;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
  /* max-width: 100%; */
  /* max-width: 20vw; */
  /* min-height: 50vw; */
} 
.product-display-leaves {
  /* display: flex;
  width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0 auto; */
    flex: 1;
  /* max-height: 50vh; */
  width: 70%;
  left: 15vw;
  overflow: hidden;
  /* padding-left: 5%;
  padding-right: 5%; */
  /* max-width: 100%; */
  /* max-width: 20vw; */
  /* min-height: 50vw; */
} 

.inner-card {
  /* width: 80%; */
}

.displayCardOuterBox {
  max-width: 95%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.displayCardInnerBox {
  display: flex;
  justify-content: left;
  flex-direction: row;
}
.saleIconCard {
  flex: 1 1;
    height: 90%;
    width: 30%;
    position: absolute;
    left: 0%;
    top: 1%;
}

.product-banner-sale {
  background-color: green;
  color: rgb(185, 249, 115);
  font-variant: small-caps;
  font-weight: bolder;
  /* height: 20px; */
  padding-bottom: 5px;
  padding-top: 5px;
}

.product-banner-nosale {
  height: 26px;
}

.product-title {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.product-info {
  /*margin-top: auto;*/ /*removed this as is adds different amounts of space above the product titles */
  padding-bottom: 20px;
  text-align: center;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .products .product-card:first-child,
  .products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  
  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}


@media (min-width: 600px) {
  .product-display-leaves {
      flex: 1;
    /* max-height: 50vh; */
    width: 70%;
    left: 15vw;
    overflow: hidden;
    /* padding-left: 5%;
    padding-right: 5%; */
    /* max-width: 100%; */
    /* max-width: 20vw; */
    /* min-height: 50vw; */
    height: 90%;
  }  
}