.cartItemDisplay {
  display: flex;
}
.itemIcon {
  padding: 5px;
  max-width: 100px;
  max-height: 100px;
}
.itemName {
  padding: 5px;
}
.itemPrice {
  padding: 5px;
}
.itemQuantity {
  padding: 5px;
}
.saleIcon {
  padding: 5px;
  max-width: 100px;
  max-height: 100px;
}
