.cartItemDisplay {
  flex-direction: row;
  display: flex;
}
.itemIcon {
  padding: 10px 5px 10px 0px; /* top right bottom left */
  max-width: 80px;
  max-height: 100px;
  flex: 1 1;
}
.itemName {
  padding: 5px;
  flex: 1;
  font-size: 12px;
  font-variant: all-small-caps;
  width: 55px;
}
.itemNamePrice{
  display: flex;
  flex-direction: column;
  width: 75px;
}
.itemPrice {
  padding: 5px;
  flex: 1;
  font-size: 12px;
}
.itemQtyBoxContainer {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.itemQtyBox {
  display: flex;
  flex-direction: column;
}
.itemQuantity {
  padding: 5px;
  flex: 1;
}
.itemQtyNumArrows {
  display: flex;
  justify-content: center;
}
.saleIcon {
  padding: 5px 0px 0px 5px; /* top right bottom left */
  max-width: 80px;
  max-height: 80px;
  
  /* margin-bottom: 15px; */
  /* position: absolute;
  left: 65px; */
}
.itemIconImage {
  /* display: block; */
  display: contents;
}
.upDownIcon {
  width: 10px;
  cursor: pointer;
  height: 7px;
  margin-top: 8px;
}
label {
  text-transform: none;
  font-size: 12px !important;
}
